*{
    margin: 0px;
    padding: 0px;
    
}

.dark-mode{
    background-color:rgb(13, 1, 29);
    /* rgb(13, 1, 29) */
    
    
}
.white-mode{
    background-color: white;
}
.main {
    width: 100%;
    height: 157vh;
    position: relative;
    overflow: hidden;
    /*background: linear-gradient(to right, #3b3b40, #3eb9c6); */
}

#header {
    position: fixed; /* Set the header to fixed position */
    top: 0;
    
  }


nav {
    width:100%;
    height: 70px;
    position: relative;
    z-index: 1; 
    display: flex;
    margin: 0;
    align-items:center;
    background-color: white;
    /* background: linear-gradient(to right,rgb(108, 109, 110) ,rgb(165, 169, 172)); */
    border-bottom-style:solid ;
    border-bottom-width: 5px;
    border-bottom-color: #3b9cd6;
}

#dugme1{
    background-color: rgb(13, 1, 29);
    font-size: x-large;
    color: #3b9cd6;
    margin-right: 20px;
    border-color:#3b9cd6;

}
#dugme2{
    border-color:#3b9cd6;
    font-size: x-large;
    color: #3b9cd6;
    margin-right: 20px;
}

.logo {
    flex-basis: 10%;
}
.logo img{
    margin-left: 40px;
    width: 150%;
}

.nav-links {
    flex:1;
    text-align:right; 
}

.nav-links ul  {
    
    /*display: inline-block;*/
    display: flex;
    flex-direction: row;
    flex-basis: 40px;
    list-style: none; 
    margin-left: 600px;
    font-size: 30px;
    font-weight: lighter;
    padding: 5px;
    border-radius: 4px;
    background-color: transparent;
    
    

}
.nav-links ul li {
    margin: 10px;
}


.nav-links ul li a {
    color:#3b9cd6;
    text-decoration: none;   
}

.nav-links ul li a:hover {
    
    background-color:#3b9cd6;
    color:white;
    border-radius: 5px;
    
}



.nav-links ul li a:hover {
    background-color:#3b9cd6;
    color: white;
    
}

.nav-links ul li a {
        color:#3b9cd6;
        text-decoration: none;
        
       
 }

#tata{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    padding: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

#naslov {
    display:flex;
    flex-direction: row;
 color:black;
 font-size:30px;
 margin-top:100px;
 margin-left:700px;
    height:20px;
}



#dugme3{

height: 15vh;
/* margin-top: 250px; */
margin-right: 10px;

background-color:#3b9cd6 ;
border-radius: 200px;
width: 15vh;


}

#slika1{
   
    height: 80vh;
}

#dugme4{
    
    height: 15vh;
    /* margin-top: 250px; */
    margin-left: 10px;
    background-color:#3b9cd6 ;
    border-radius: 200px;
width: 15vh;
}



    #textDiv{
        display: flex;
        justify-content: center;
        background-color: #3b9cd6;
        height: 35vh;
        width: 100%;
        /* margin-bottom: 30px; */
        align-items: center;
        
    }

    #naslof{
        width: 90%;
        text-align: center;
        /* margin-top: 150px; */
        color: white;
        /* background-color: rgb(13, 1, 29) ; */
        height: 80px;

    }

    #text1{
        resize: none;
        /* text-align: center; */
        font-size: 25px;
        color: white;
        border:transparent;

        background-color: transparent;
        /* margin-top: 30px; */
        text-decoration: rgb(13, 1, 29);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 100px;
        margin-left:470px;
        
        
    
    }

    
footer{
    

    display:flex;
    height:200px; 
    width:100%;
    margin:0px;
    background-color: #003366;
    color:white;
    text-align: center;
    padding:0px;

}

#footer_parent {
    /* margin-top: 200px; */
    display:flex;
    flex-direction: row;
}
footer img{
    display:flex;
    width:60%;
    height:50px;
}
#f1{
    width:50%;
    display:flex;
    text-align: left;
    vertical-align: middle;
    padding: 20px;
    margin-left:200px;
    

}
#f2,#f3{
    width:25%;
    display: flex;
    text-align: left;
    vertical-align: middle;
    padding: 20px;
    
}
.autor{
    display: flex;
    padding-right: 20px;
    padding: 15px;
    text-align: right;
    color:white;
    background-color: #003366;

}

